/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Custom styles*/



*{
    max-width: 1440px;
    margin: 0 auto;
}

body{
    display: flex;
    flex-direction: row;
    margin: 10%;
    font-family: 'Roboto', sans-serif;
}

form{
    display: flex;
    flex-direction: column;
}

.left-side{
    width: 40%;
    margin-right: 5%;
    margin-top: 8%;
}

h1{
    font-weight: 700;
    color: hsl(234, 29%, 20%);
    font-size: 40px;
    margin-bottom: 5%;
}

p{
    font-size: 16px;
    margin-bottom: 5%;
    line-height: 1.5;
}

li{
    line-height: 2.0;
    padding-left: 2%;
    margin-left: 5%;
}



ul{
    margin-bottom: 10%;
}

label{
    margin-bottom: 2.5%;
    font-weight: 700;
    display: inline;
    margin-right: 0px;
    width: 200px;
}

input{
    padding: 4% 52% 4% 4%;
    margin-bottom: 4%;
    border-radius: 5px;
    border-width: 0.5px;
}

button{
    padding: 4% 25%;
    border-radius: 5px;
    border: none;
    background-color: hsl(234, 29%, 20%);
    color: #fff;
    font-weight: 400;
}

#emailWarning{
    color: red;
    text-align: right;
    display: inline;
    margin-left: 200px;
    width: 200px;
    margin-bottom: -15px;
}

/*media queries*/

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 850px){
    body{
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
        max-width: 850px;
    }

    img{
       width: 100%;
       height: auto;
       margin-top: -55px;
    }

    h1{
        width: 100%;
        margin-left: 5%;
        font-size: 50px;
    }

    p{
        margin-left: 5%;
        margin-right: 2%;
        font-size: 40px;
    }

    ul{
        margin-left: 5%;
        margin-right: 2%;
        font-size: 26px;
    }

    .left-side{
        width: 100%;
    }

    input{
        width: 35%;
    }

    label{
        margin-left: 5%;
        font-size: 28px;
    }
    button{
        width: 90%;
        margin-bottom: 10%;
        padding: 4% 0;
        font-size: 28px;
    }
    
}

